<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Master Trello Suite" verbose="1" >
    <suite-files>
        <suite-file path="TrelloSuiteChrome.xml"/>
        <suite-file path="TrelloSuiteFirefox.xml"/>
        <!-- <suite-file path="TrelloSuiteIE.xml"/> -->
    </suite-files>
</suite>
